.post-section {
  padding-top: 100px;
}
.heading-outer {
  padding: 1em;
}
.heading {
  display: flex;
  margin: 0 5%;
}
.heading > div {
  width: 50%;
}
.heading > div > img {
  width: 100%;
}
.post-info {
  padding: 1em 2em;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.post-info > h1 {
  font-size: 35px;
  color: rgb(255, 76, 32);
}
.post-info > h3 {
  width: auto;
  padding: 7px;
  color: grey;
  border: 4px solid grey;
}

.post-article > div {
  margin: 0 15%;
  padding: 2em 0;
  font-size: 24px;
}
