* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  background-color: white;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 15%;
  padding: 2em;
}
header > nav > h1 {
  width: 30%;
  color: rgb(247, 150, 22);
}
header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: grey;
  font-size: 20px;
  font-weight: bolder;
  width: 70%;
}

.title-bar {
  padding-top: 100px;
  width: 100%;
  height: 400px;
  background-image: url("./images/titlebar.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

main {
  /*  */
}
.posts-outer {
  margin: 0 15%;
  padding: 2em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.post {
  position: relative;
  margin: 10px;
  padding: 1em;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;

  transition: 300ms ease-in-out;
}
.animated-span {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: rgb(247, 150, 22);
  bottom: 0;
  right: 0;
  z-index: -10;
  transform-origin: bottom;
  transition: 300ms;
}
.post:hover .animated-span {
  height: 400px;
}
.post:hover .post-title {
  color: white;
}
.post > div > img {
  width: 100%;
  height: 200px;
  z-index: 5;
}
.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  color: rgb(56, 54, 54);
  z-index: 2;
}

.post-title {
  text-align: center;
  color: rgb(247, 150, 22);
  transform-origin: bottom;
  transition: 300ms;
}
.post-body {
  height: 100px;
  z-index: 5;
}
.post-date {
  z-index: 5;
}
.post-body > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(61, 60, 63);
  color: white;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  width: 100%;
  height: 100%;
}
.footer-icons {
  width: 70%;
}
.footer-icons > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .posts-outer {
    margin: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .posts-outer {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  footer {
    height: auto;
  }
  footer > div {
    display: flex;
    flex-flow: column;
    padding: 0;
  }
  footer > div > div {
    padding: 2em 1em;
  }
  .footer-icons {
    width: 100%;
  }
  .footer-icons > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}
@media screen and (max-width: 345px) {
  footer > div > div > p {
    text-align: center;
  }
}
